Cursed Walking - A Modern Zombie Apocalypse Cursed Walking - 1.20.1 Version 3.0.2/
Forge 1.20.1/
MyPack/tacz/
MyPack/mods/hole_filler_mod-1.2.8_mc-1.20.1_forge.jar
MyPack/mods/worldedit-mod-7.2.15.jar
MyPack/mod_data/gml/1.20.1/version.json
MyPack/natives/jna17744993056097940122.dll
MyPack/natives/
MyPack/resourcepacks/
MyPack/mod_data/
MyPack/logs/
MyPack/shaderpacks/
MyPack/tacz_backup/
MyPack/local/
MyPack/kubejs/
MyPack/journeymap/
MyPack/fancymenu_data/last_world.fmdata
MyPack/defaultconfigs/
MyPack/crash-reports/
MyPack/ct_dumps/
MyPack/config/hole_filler_mod.toml
MyPack/screenshots/
MyPack/.vscode/
MyPack/.mixin.out/
MyPack/usernamecache.json
MyPack/usercache.json
MyPack/TLauncherAdditional.json
MyPack/servers.dat_old
MyPack/servers.dat
MyPack/rhino.local.properties
MyPack/optionsshaders.txt
MyPack/options.txt
MyPack/MyPack.json
MyPack/MyPack.jar
MyPack/hs_err_pid27088.log
